body {
    font-family: 'Roboto', sans-serif; 
  }
  img {
    height: auto;
    margin: auto;
    padding: 10px;
    display: block;
  }
  img.medium {
    max-width: 25%;
  }
  a {
    color: #116B59;
  } 